# sources folder
Sources/*

# Folder config file
Desktop.ini

# Windows shortcuts
*.lnk

# Temp files
*.tmp

# Word temporary
~$*.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*
